<ion-header>
  <ion-toolbar>
    <ion-title>DashboardPage</ion-title>
    <ion-list>
      <ion-item routerLink="/login">
        <ion-icon slot="start" name="bonfire"></ion-icon>
        <ion-label>logout</ion-label>
      </ion-item>
      <ion-item routerLink="budget">
        <ion-icon slot="start" name="bowtie"></ion-icon>
        <ion-label>budget</ion-label>
      </ion-item>
      <ion-item routerLink="accounts">
        <ion-icon slot="start" name="calculator"></ion-icon>
        <ion-label>accounts</ion-label>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
